:root {
  --borderRadius: 75%;
  --borderWidth: solid black 0.33em;
}

.hidden {
  display: none !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cal Sans", sans-serif;
  background-color: rgb(252, 196, 205);
}

header {
  position: fixed;
  top: 0;
  align-items: center;
  font-size: 1.15em;
}

button {
  background-color: white;
  border: solid black 0.15em;
}

/* button:hover {
  color: white;
} */

#points-display,
#highscore-display {
  display: inline-block;
}

#points-display {
  margin-right: 0.75em;
  margin-bottom: -1em;
}

#highscore-display {
  margin-left: 0.75em;
  margin-bottom: -1em;
}

#game-state-container {
  display: block;
  text-align: center;
}

#game-info-text {
  margin-bottom: -0.75em;
}

#play {
  margin-top: 1em;
  font-size: 1.15em;
}

#game-info-text,
#play {
  display: inline-block;
}

main {
  margin-top: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

h1:hover {
  color: blue;
  cursor: pointer;
}

#game-info-text {
  text-align: center;
}

#game-container {
  width: 50vh;
  height: 50vh;
}

#game-box-row1,
#game-box-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50%;
}

.game-box {
  width: 100%;
  height: 100%;
}

#game-box1 {
  border-top-left-radius: var(--borderRadius);
  background-color: green;
  border: var(--borderWidth);
  border-right: none;
  border-bottom: none;
}
#game-box1:hover {
  background-color: rgb(115, 201, 115);
}

#game-box2 {
  border-top-right-radius: var(--borderRadius);
  background-color: red;
  border: var(--borderWidth);
  border-bottom: none;
}

#game-box2:hover {
  background-color: rgb(231, 134, 134);
}

#game-box3 {
  border-bottom-left-radius: var(--borderRadius);
  background-color: yellow;
  border: var(--borderWidth);
  border-right: none;
}

#game-box3:hover {
  background-color: rgb(255, 174, 66);
}

#game-box4 {
  border-bottom-right-radius: var(--borderRadius);
  background-color: blue;
  border: var(--borderWidth);
}

#game-box4:hover {
  background-color: rgb(111, 111, 239);
}

#round-button {
  font-size: 1.5em;
  margin-top: 5em;
  position: absolute;
  top: 70%;
}
