:root {
  --borderRadius: 90%;
  --borderWidth: solid black 0.33em;
  --baseGreen: #73c973;
  --lightUpGreen: #9dd59d;
  --baseRed: #ff5733;
  --lightUpRed: #e78686;
  --baseYellow: #fcf45c;
  --lightUpYellow: #f1efbc;
  --baseBlue: #5e5edd;
  --lightUpBlue: #a7c7e7;
  --backGroundPink: rgb(252, 196, 205);
}

.hidden {
  display: none !important;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cal Sans", sans-serif;
  background-color: var(--backGroundPink);
}

header {
  position: fixed;
  top: 0;
  align-items: center;
  font-size: 1.15em;
}

button {
  background-color: white;
  border: solid black 0.15em;
  font-weight: bold;
}

#points-display,
#highscore-display {
  display: inline-block;
}

#points-display {
  margin-right: 0.75em;
  margin-bottom: -1em;
}

#highscore-display {
  margin-left: 0.75em;
  margin-bottom: -1em;
}

#game-state-container {
  display: block;
  text-align: center;
}

#game-info-text {
  margin-bottom: -0.75em;
}

#play {
  margin-top: 1em;
  font-size: 1.15em;
}

#game-info-text,
#play {
  display: inline-block;
}

main {
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#game-info-text {
  text-align: center;
}

#game-container {
  width: 45vh;
  height: 45vh;
}

#game-box-row1,
#game-box-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50%;
}

.game-box {
  width: 100%;
  height: 100%;
}

#game-box1 {
  box-shadow: -5px -10px 20px 5px rgb(28, 143, 28) inset;
  border-top-left-radius: var(--borderRadius);
  background-color: var(--baseGreen);
  border: var(--borderWidth);
  border-right: none;
  border-bottom: none;
}
#game-box1:hover {
  background-color: var(--lightUpGreen);
}

#game-box2 {
  box-shadow: 5px -10px 20px 5px rgb(167, 35, 35) inset;
  border-top-right-radius: var(--borderRadius);
  background-color: var(--baseRed);
  border: var(--borderWidth);
  border-bottom: none;
}

#game-box2:hover {
  background-color: var(--lightUpRed);
}

#game-box3 {
  box-shadow: -5px 10px 20px 5px rgb(179, 179, 10) inset;
  border-bottom-left-radius: var(--borderRadius);
  background-color: var(--baseYellow);
  border: var(--borderWidth);
  border-right: none;
}

#game-box3:hover {
  background-color: var(--lightUpYellow);
}

#game-box4 {
  box-shadow: 5px 10px 20px 5px rgb(59, 59, 216) inset;
  border-bottom-right-radius: var(--borderRadius);
  background-color: var(--baseBlue);
  border: var(--borderWidth);
}

#game-box4:hover {
  background-color: lightblue;
}

#round-button {
  font-size: 1.5em;
  margin-top: 5em;
  position: absolute;
  top: 70%;
}

footer {
  margin-top: 5em;
  position: absolute;
  top: 80%;
}
